<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmailBody</title>
</head>
<body>
    <h1>Hi {0},</h1>
    <h3>
        hope this email finds you well.<br><br>

        You are the user that spended the most in our ecommerce,
        and as a gift we reward you with {1}euro<br><br>

        Please do not reply to this email address because it is automated!<br><br>

        Best regards,<br>
        ECommerce
    </h3>
</body>
</html>